src/main/mule/impl/process-dynamo-order-sapi-transactions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="process-dynamo-order-sapi-transactions" doc:id="979ddda5-8211-4722-b6e4-952600cef5e0" >
		<flow-ref doc:name="call-to-order-dynamo-sapi" doc:id="6cc9d7d5-8d96-443e-b63a-4b95f2903771" name="call-to-order-dynamo-sapi"/>
		<choice doc:name="Choice" doc:id="dd59f336-a4f5-42e2-b8b0-d7e3d2ec7198" >
			<when expression="#[attributes.statusCode == 200]" >
				<ee:transform doc:name="Map required fields from DynamoDb Call" doc:id="a7e1a71e-88d1-4d4d-b957-c31b501de655" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{	
	reportType: vars.previouspayload.reportType,
	variables: vars.previouspayload.variables default {},
	dynamodbFetchCount: (vars.previouspayload.dynamodbFetchCount default 0 ) + 1,
	batchCount: (vars.previouspayload.batchCount),
    count: (vars.previouspayload.count default 0 ) + (payload.count default 0),
    ("lastEvaluatedKey": payload.lastEvaluatedKey) if (payload.lastEvaluatedKey?),   
    "items":  (vars.previouspayload.items default []) ++ payload.items default []
}]]></ee:set-payload>
					</ee:message>
					<ee:variables />
				</ee:transform>
				<json-logger:logger doc:name="Logger" doc:id="8c45bf99-3621-457e-8d30-ad2634e8fcad" config-ref="JSON_Logger_Config" message="Call to Dynamo SAPI Successful " tracePoint="FLOW" category="${log.category}">
					<json-logger:content><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    //payload: JSONLoggerModule::stringifyNonJSON(payload) 
    payload:  
    	{
			reportType: payload.reportType,
			reportName: payload.reportName,
			variables: payload.variables,
	        dynamodbFetchCount: payload.dynamodbFetchCount,
			batchCount: payload.batchCount,
			count: payload.count,
	        lastEvaluatedKey: payload.lastEvaluatedKey
	      }
}]]]></json-logger:content>
				</json-logger:logger>
			</when>
			<!--  <when expression="#[payload.errorCode contains 'SAPI']" >
				<ee:transform doc:name="Failure response body incase of any error post DynamoDB Transactions SAPI call" doc:id="98afe04d-9222-4a5d-a6dc-57504e1c7711" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
payload]]></ee:set-payload>
					</ee:message>
					<ee:variables />
				</ee:transform>
				<raise-error doc:name="CUSTOM:DYNAMODB_TRANSACTIONS_ERROR" doc:id="f0e33bf8-05b9-475a-9574-e2deb26e9fb0" type="CUSTOM:DYNAMODB_TRANSACTIONS_ERROR" description='#[write(payload,"application/json")]' />
			
			</when>-->
			<otherwise >
				<ee:transform doc:name="Failure response body incase of any error in DynamoDB Transactions SAPI call" doc:id="7223ad6f-b64a-4f70-8bc2-dcc7636249a8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"reportType": vars.reportType
}
++ payload

/* 
{
	transactionId: vars.correlationId,
	errorCode: vars.errorDetails.errorType,
	errorMessage: vars.errorDetails.errorDescription,
	errorDescription: vars.errorDetails.errorDetailedDescription,
	timestamp: now()>>'IST' as String {format: "yyyy-MM-dd HH:mm:ss.SSS"}
}*/]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<raise-error doc:name="CUSTOM:DYNAMODB_TRANSACTIONS_ERROR" doc:id="6ac47070-cec1-43c3-8d04-30116521ee94" type="CUSTOM:DYNAMODB_TRANSACTIONS_ERROR" description='#[write(payload,"application/json")]' />
			</otherwise>
		</choice>
	</flow>
</mule>
