src/main/mule/digigold-order-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
    <flow name="digigold-order-papi-main">
        <http:listener config-ref="apiHttpListenerConfig" path="${https.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="captureCommonHeaders" doc:id="58960ffa-0250-438a-98b7-4ce9ed6fd8e5" >
			<ee:message >
				
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="sourceChannel" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-source-channel'
]]></ee:set-variable>
				<ee:set-variable variableName="inboundUri" ><![CDATA[%dw 2.0
output application/java
---
attributes.requestUri
]]></ee:set-variable>
				<ee:set-variable variableName="httpMethod" ><![CDATA[%dw 2.0
output application/java
---
attributes.method
]]></ee:set-variable>
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'X-Correlation-Id']]></ee:set-variable>
				<ee:set-variable variableName="targetChannel"><![CDATA[%dw 2.0
output application/java
---
attributes.headers."x-target-channel"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="digigold-order-papi-config" />
		<error-handler ref="api-main-error-handler" />
    </flow>
    <flow name="digigold-order-papi-console">
        <http:listener config-ref="apiHttpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="digigold-order-papi-config" />
		<error-handler ref="api-console-error-handler" />
    </flow>
    <flow name="get:\transactions:digigold-order-papi-config">
		<json-logger:logger doc:name="START of fetch transactions flow" doc:id="6aca92d5-8a03-4519-9f70-213423aee697" config-ref="JSON_Logger_Config" message="START of fetch transactions flow" category="${log.category}" />
		<flow-ref doc:name="impl-fetch-transactions-flow" doc:id="e65c27fe-657a-4c46-a832-b3f3e35d002b" name="impl-fetch-transactions-flow"/>
		<json-logger:logger doc:name="END of fetch transactions flow" doc:id="e07cdaa3-9021-4c89-bc19-3629160579aa" config-ref="JSON_Logger_Config" message="END of fetch transactions flow" category="${log.category}" tracePoint="END"/>
    </flow>
    <flow name="post:\reports:application\json:digigold-order-papi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "SUCCESS",
  message: "Oracle report generated successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\transactions:application\json:digigold-order-papi-config">
		<json-logger:logger doc:name="START of create transactions flow" doc:id="c2f399b7-6393-4eab-9f46-b62ed5818b01" config-ref="JSON_Logger_Config" message="START of create transactions flow" category="${log.category}"/>
		<flow-ref doc:name="impl-create-transactions-flow" doc:id="d7ab65c2-38f1-49e0-a68c-483ad8e2a509" name="impl-create-transactions-flow"/>
		<json-logger:logger doc:name="END of create transactions flow" doc:id="d3ffdb01-f771-429d-92bd-f2ed1e96d4e6" config-ref="JSON_Logger_Config" message="END of create transactions flow" tracePoint="END" category="${log.category}" />
    </flow>
</mule>
