src/main/mule/mulesoft-template-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8f1c5a8c-0e5d-4a52-9549-b3d3533100af" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulesoft-template-sample-flow" doc:id="638665de-d381-4c56-aaca-a7b09f6565ba" >
		<http:listener doc:name="Listener" doc:id="5710c2ce-e595-485c-84a2-a2f63fae758c" config-ref="HTTP_Listener_config" path="/test"/>
		<json-logger:logger doc:name="START Log" doc:id="e2382c78-9203-4114-8809-19621eacfd85" config-ref="JSON_Logger_Config" message="Log Message" category="${log.category}">
			<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json skipNullOn = "everywhere" ---
{
	eventContext: {
	businessID: "${global.properties.businessId}",
	clientId: attributes.headers.'x-source-channel', // Change accordingly
	inboundURI: attributes.requestUri,
	method: attributes.method,
	muleCorrelationId: vars.muleCorrelationId,
	logMessage: vars.logMessage //Optional - include if there's any unique ID's to log
	
},
  payload: JSONLoggerModule::stringifyNonJSON(payload)
  //Optional - DO NOT LOG whole payload as it will be huge. Log it only when necessary;
  //No sensitive information should be logged in plain text
}]]]></json-logger:content>
		</json-logger:logger>
		<raise-error doc:name="Raise error" doc:id="d2410119-c42d-4294-90d1-5c61118c679e" type="ANY"/>
		<error-handler ref="global-http-error-handler" />
		
	</flow>
</mule>
